.header {
  position: sticky;
  width: 100%;
  top: 0;
  margin-top: 20px;
  min-height: 56px;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameplate {
  padding: 6px 10px;
  font-size: 1.5em;
  font-weight: 400;
  width: fit-content;
  color: #fff;
  flex-basis: 175px;
}

.nameplateSubtitle {
  position: absolute;
  width: 100px;
  font-size: 0.6em;
  font-family: monospace;
  font-style: italic;
  color: #bbb;
}

.link {
  text-align: center;
  min-width: fit-content;
  width: fit-content;
  flex-basis: 1px;
}

.link {
  height: 50px;
  border: 1px solid #fff;
}

.home {
  padding: 10px 18px;
  font-size: 1.5em;
}

.about {
  font-size: 1.1em;
  padding: 15px 15px;
  flex-basis: 175px;
}

.link:hover {
  background: #fff;
  color: #000;
}

.active {
  border: 1px solid #ff6959;
}
@media only screen and (max-device-width: 640px) {
  .nameplateSubtitle {
    display: none;
  }
  .header {
    background: #000;
  }
}

@media only screen and (max-device-width: 768px) {
  .nameplateSubtitle {
    display: none;
  }
  .header {
    background: #000;
  }
}
