.header {
  position: sticky;
  width: 100%;
  top: 0;

  margin-top: 20px;
  height: 56px;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameplate {
  padding: 6px 10px;
  font-size: 24px;
  font-weight: 400;
  width: fit-content;
  color: #fff;
}

.about {
  text-align: center;
  min-width: 150px;
  max-width: 150px;
  padding: 10px;
}

.about,
.nameplate {
  max-height: 40px;
  border: 1px solid #fff;
}

.nameplate:hover,
.about:hover {
  background: #fff;
  color: #000;
}

.active {
  border: 1px solid #ff6959;
}
