html,
body {
  height: 100%;
  width: 100%;
  min-width: 600px;
  padding: 0;
  margin: 0;
  background: #000000;
  color: #fff;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #fff;
}

.mainContentContainer {
  flex: 1 0 auto;
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.sectionHeading {
  width: 450px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 2em;
  text-decoration: underline;
  font-style: italic;
}

body {
  padding: 0 50px;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
