.description {
  font-weight: 500;
  font-style: italic;
  padding: 20px 0px;
}

.about {
  font-size: 1.35em;
  width: 45%;
}
@media only screen and (max-device-width: 640px) {
  .about {
    min-width: 100%;
  }
}

@media only screen and (max-device-width: 768px) {
  .about {
    min-width: 100%;
  }
}

.about a {
  color: #ff6959;
  text-decoration: underline;
}

.about a:hover {
  color: #fff;
}
