.description {
  font-weight: 500;
  font-style: italic;
  padding: 20px 0px;
}

.about {
  font-size: 1.35em;
  width: 45%;
  min-width: 500px;
}

.about a {
  color: #ff6959;
  text-decoration: underline;
}

.about a:hover {
  color: #fff;
}

.socials {
  flex-direction: column;
  font-style: italic;
  font-size: 0.9em;
}

.socials a {
  width: fit-content;
  padding: 5px 0px;
  text-decoration: underline;
  display: block;
  height: fit-content;
}

.socials a:hover {
  color: #ddd;
}
